body {
  background-image: url("../images/9.jpeg") ;

}

h1 {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 400%;
	margin-top: 50px;
	margin-bottom: 20px;
	font-weight: bolder;
}

.inplace input {
	width: 540px;
	height: 58px;
}


#main ul {
	list-style-type: none;
	padding-left: 0px;
}

#main li {
	border: 1px dotted #333333;
	height: 58px;
	font-size: 150%;
	line-height: 58px;

}

#main li .didcr{
	text-decoration: line-through;
}

.fa.fa-bullseye{
	margin-right: 20px;
	margin-left: 20px;
	cursor: pointer;
	cursor: hand;
}

.fa.fa-check{
	margin-right: 20px;
	margin-left: 20px;
	cursor: pointer;
	cursor: hand;
}

.fa.fa-close{
	float: right;
	line-height: 58px;
	display: none;
	margin-right: 10px;
  cursor: pointer;
	cursor: hand;
}

.diinput{
	padding-left: 20px;
	width: 100%;
	height: 65px;
	font-size: 150%;
	background-color: rgba(192, 192, 192, 0.3);
}

#footer{
	margin-right: 0px;
	margin-left: 0px;
	display: none;
	height: 30px;
	background-color: rgba(192, 192, 192, 0.4);
}

#footer ul li{
	display: inline;
	padding-right: 5px;
	line-height: 30px;
}

.strong{
	font-weight: 900;
	font-size: 102%;
}

.all{
	cursor: pointer;
	cursor: hand;
}

.target{
	cursor: pointer;
	cursor: hand;
}

.done{
	cursor: pointer;
	cursor: hand;
}

#clear{
	cursor: pointer;
	cursor: hand;
	margin-top: 3px;
	margin-bottom: 3px;
}

input.edit {
  display: none;
  height: 58px;
  width: 440px;
}

#items{
	line-height: 30px;
}

#clear{
	line-height: 20px;
}